/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-dark-1: #0e0e0e;
  --color-dark-2: #000000;

  --color-light-1: #ababab;
  --color-light-2: #12f0b1;
  --color-light-3: #f7f7f7;
  --color-light-4: #ffffff;
  --color-light-5: #00f7b5;
  --color-light-6: #18f7b8;
  --color-light-7: #c4c4c4;
  --color-light-8: #12f0b1cc;
  --color-light-9: #10e0a5;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-dark-2);
}
.container {
  max-width: 1200px;
  margin: auto;
}
.wrapper {
  padding: 0 21px;
}
.col-4 {
  width: 33.333%;
}
.col-6 {
  width: 50%;
}
.d-flex {
  display: flex;
}
.button__light {
  height: 40px;
  padding: 0 17px;
  background-color: transparent;
  border: 2px solid var(--color-light-4);

  color: var(--color-light-4);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;

  transition: all 0.3s;
}
.button__light:hover {
  cursor: pointer;
  background-color: var(--color-light-4);
  color: rgb(14, 14, 14);
}
.button__dark {
  height: 40px;
  padding: 0 17px;
  background-color: transparent;
  border: 2px solid var(--color-dark-1);

  color: var(--color-dark-1);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;

  transition: all 0.3s;
}
.button__dark:hover {
  color: var(--color-light-4);
  background-color: var(--color-dark-1);
}
.layout {
  color: var(--color-light-3);
  position: absolute;
  font-size: 500px;
  font-weight: 700;
  z-index: -1;
  letter-spacing: 25px;
}
.text__cover{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 37px;
}
.text__medium{
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-dark-1);
}

/* HEADER */
.header__container {
  position: fixed;
  width: 100%;
  padding: 33px 37px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.header__logo img {
  width: 164px;
}
.header__button button {
  position: relative;
  border: none;
}
.header__span1,
.header__span2,
.header__span3 {
  position: absolute;
  top: -6px;
  right: 9px;

  height: 2px;
  width: 18px;
  background-color: var(--color-dark-1);
}
.header__span2 {
  top: 0;
}
.header__span3 {
  top: 6px;
}

/* INTRO */
.intro {
  overflow: hidden;
  position: relative;
}
.intro__content {
  font-weight: 800;
  font-size: 120px;
  line-height: 144px;
  letter-spacing: 0;
}
.intro__content .wrapper > div {
  padding: 90px 0 80px;
}
.intro__span {
  color: var(--color-light-2);
}
.intro__container {
  display: inline-flex;
  min-width: 500px;
}
.intro__span1,
.intro__span2,
.intro__span3,
.intro__span4 {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: textRunning 8s ease-in-out infinite;
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  width: 0;
}
.intro__span1 {
  animation-delay: 0s;
}
.intro__span2 {
  animation-delay: 2s;
}
.intro__span3 {
  animation-delay: 4s;
}
.intro__span4 {
  animation-delay: 6s;
}
.intro__cover {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 110px;
}
.intro__cover__left {
  height: 100%;
  background-image: url("../img/30.png");
  background-repeat: no-repeat;
  background-position: center;
}
.intro__cover__right {
  max-width: 600px;
  margin-left: 30px;
}
.intro__layout {
  bottom: -40%;
  left: 40px;
}

/* CAROUSEL */
.swiper {
  width: 100%;
  height: 740px;
}
.carousel__slide__1,
.carousel__slide__2,
.carousel__slide__3 {
  background-image: url(../img/1-2-thegem-featured-post-slide-fullwidth.jpg);
  background-size: cover;
  background-position: center center;
}
.carousel__slide__2 {
  background-image: url(../img/2-10-thegem-featured-post-slide-fullwidth.jpg);
}
.carousel__slide__3 {
  background-image: url(../img/3-3-thegem-featured-post-slide-fullwidth.jpg);
}
.carousel__wrapper {
  height: 740px;
  position: relative;
}
.carousel__content {
  padding: 0 21px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.carousel__content > span {
  display: inline-block;
  background-color: var(--color-dark-2);
  color: var(--color-light-4);
  line-height: 24px;
  padding: 0 10px;
}
.carousel__content a {
  color: var(--color-light-4);
  text-decoration: none;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.carousel__content a:hover {
  text-decoration: underline;
}
.carousel__content h3 {
  padding: 70px 0;
  color: var(--color-light-5);
  line-height: 69px;
  font-size: 50px;
  font-weight: 700;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "<";
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  color: var(--color-light-4);
  margin-left: 80px;
  transition: all 0.3s;
}
.swiper-button-next:after {
  content: ">";
  margin-left: 0;
  margin-right: 80px;
}
.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  color: var(--color-dark-2);
}

/* PRODUCT */
.product {
  padding-top: 122px;
  overflow: hidden;
}
.product .container {
  position: relative;
}
.product__intro {
  padding-bottom: 90px;
}
.product__intro h3 {
  color: var(--color-light-6);
  line-height: 25px;
  font-size: 16px;
  font-weight: 700;
}
.product__intro p {
  padding: 50px 0;
}
.product__item {
  padding-bottom: 42px;
}
.product__img {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  height: 564px;
}
.product__img img {
  max-width: 110%;
  position: relative;
  left: -5%;
  bottom: 13%;
}
.product__item h4 {
  padding-top: 30px;
}
.product__separator {
  margin: 10px 0;
  width: 50px;
  height: 1.5px;
  background-color: var(--color-light-2);
  transition: all 0.2s linear;
}
.product__item:hover .product__separator {
  width: 90px;
}
.product__item p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 3px;
  color: var(--color-light-7);
}
.product__item p a {
  text-decoration: none;
  color: var(--color-light-2);
  transition: all 0.2s linear;
}
.product__item p a:hover {
  text-decoration: underline;
  color: var(--color-dark-1);
}
.product__overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;

  cursor: pointer;
  background-color: var(--color-light-8);
  opacity: 0;
  transition: all 0.5s;
}
.product__overlay a {
  position: relative;
  opacity: 0;
  color: #fff;
  margin: 16px;
  transition: all 0.5s ease-out;
}
.product__overlay a:first-of-type {
  top: -250px;
}
.product__overlay a:nth-of-type(2) {
  top: -300px;
}
.product__overlay a:nth-of-type(3) {
  top: -350px;
}
.product__overlay a:last-of-type {
  top: -400px;
}
.product__item:hover .product__overlay {
  opacity: 1;
}
.product__item:hover .product__overlay a {
  opacity: 1;
}
.product__item:hover .product__overlay a:first-of-type {
  transform: translateY(250px);
}
.product__item:hover .product__overlay a:nth-of-type(2) {
  transform: translateY(300px);
}
.product__item:hover .product__overlay a:nth-of-type(3) {
  transform: translateY(350px);
}
.product__item:hover .product__overlay a:last-of-type {
  transform: translateY(400px);
}
.product__layout {
  bottom: -7%;
  left: -11%;
}
.product__cover {
  padding: 100px 0 250px;
  clear: both;
}
.product__cover__right {
  float: right;
}
.product__cover__left {
  float: right;
  padding: 0 80px 0 90px;
  position: relative;

  line-height: 37px;
  transform: translateY(-10px);
}
.product__cover__left span {
  position: absolute;
  top: 160px;
  left: 40px;

  color: var(--color-light-2);
  font-size: 500px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;

  z-index: -1;
}

/* MARKETING */
.marketing {
  overflow: hidden;
  position: relative;
}
.marketing__content {
  padding: 150px 0;
}
.marketing__content p {
  color: var(--color-dark-1);
  line-height: 25px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 1.1em;
}
.marketing__content h3 {
  line-height: 90px;
  font-size: 80px;
  letter-spacing: 0.05em;
  margin-bottom: 90px;
}
.marketing__content button {
  height: 50px;
  line-height: 46px;
  padding: 0 25px;
  font-size: 19px;
}
.marketing__layout {
  bottom: -29%;
  left: -16%;
  color: var(--color-light-9);
  z-index: -1;
}
.marketing__bg{
  position: absolute;
  top: 0%;
  left: -100px;
  height: 100%;
  z-index: -2;
}

/* KEYFRAMES */
@keyframes textRunning {
  0% {
    display: inline-block;
    opacity: 0;
    width: 0;
  }
  5% {
    opacity: 1;
    width: 500px;
  }
  20% {
    opacity: 1;
    width: 500px;
  }
  25% {
    display: none;
    opacity: 0;
    width: 0;
  }
}
